# Importing and Transforming data from CSV file

In [1]:
import pandas as pd

In [2]:
zameen_data = pd.read_csv("./Dataset/Property_with_Feature_Engineering.csv",  on_bad_lines='skip')

In [3]:
zameen_data.info() # prints the information of data i.e. total columns and their datatypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191393 entries, 0 to 191392
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   property_id    191393 non-null  int64
 1   location_id    191393 non-null  int64
 2   page_url       191393 non-null  object
 3   property_type  191393 non-null  object
 4   price          191393 non-null  int64
 5   price_bin      191393 non-null  object
 6   location       191393 non-null  object
 7   city           191393 non-null  object
 8   province_name  191393 non-null  object
 9   locality       191393 non-null  object
 10  latitude       191393 non-null  float64
 11  longitude      191393 non-null  float64
 12  baths          191393 non-null  int64
 13  area           191393 non-null  object
 14  area_marla     191393 non-null  float64
 15  area_sqft      191393 non-null  float64
 16  purpose        191393 non-null  object
 17  bedrooms       191393 non-null  int64
 18  date_added     191393 non-null  object
 19  year           191393 non-null  int64
 20  month          191393 non-null  int64
 21  day            191393 non-null  int64
 22  agency         144014 non-null  object
 23  agent          144013 non-null  object
dtypes: float64(4), int64(8), object(12)
memory usage: 35.0+ MB

In [4]:
zameen_data.head() # returns the top 5 rows of data

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,20.0,5445.02,For Sale,5,10-06-2018,2018,10,6,Khan Estate,mohsinkhan and B
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,9.0,2450.26,For Sale,3,07-03-2019,2019,7,3,Shahum Estate 2,"Babar Hameed, Raja Omar"
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,20.0,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,NaN
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,11.0,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,NaN

In [13]:
zameen_data.tail() # returns the last 5 rows of data

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
191388,17468383,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,70000,Very High,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,12.4,3375.91,For Rent,3,07-24-2019,2019,7,24,Property World,Zafran
191389,17468384,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,40000,Medium,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,12.4,3375.91,For Rent,2,07-24-2019,2019,7,24,Property World,Zafran
191390,17468482,167,https://www.zameen.com/Property/islamabad_g_10...,House,160000,High,G-10,Islamabad,Islamabad Capital,"G-10, Islamabad, Islamabad Capital",...,20.0,5445.02,For Rent,6,07-24-2019,2019,7,24,Azaan Associates,Usman Rehman
191391,17468586,339,https://www.zameen.com/Property/dha_defence_dh...,Flat,25000,Low,DHA Defence,Islamabad,Islamabad Capital,"DHA Defence, Islamabad, Islamabad Capital",...,2.7,735.08,For Rent,2,07-24-2019,2019,7,24,New National Properties,TALHA MIAN AHMAD
191392,17468660,3421,https://www.zameen.com/Property/i_10_i_10_2_i_...,Upper Portion,26000,Low,I-10,Islamabad,Islamabad Capital,"I-10, Islamabad, Islamabad Capital",...,0.0,0.00,For Rent,3,07-24-2019,2019,7,24,Select Homes,"Qaiser Shahzad, Chaudhary Waseem"

In [5]:
zameen_data.describe() # prints the descriptive statistics of data

,property_id,location_id,price,latitude,longitude,baths,area_marla,area_sqft,bedrooms,year,month,day
count,1.913930e+05,191393.000000,1.913930e+05,191393.000000,191393.000000,191393.000000,191393.000000,1.913930e+05,191393.000000,191393.000000,191393.000000,191393.000000
mean,1.573170e+07,4224.580350,1.644655e+07,30.104593,71.572992,2.865956,14.573527,3.967656e+03,3.171516,2018.935687,6.212270,13.349631
std,2.215249e+06,3719.125201,3.416412e+07,3.645941,3.080463,2.435332,443.343252,1.207006e+05,1.952403,0.245310,1.815174,8.486820
min,8.657500e+04,1.000000,0.000000e+00,11.052446,25.906027,0.000000,0.000000,0.000000e+00,0.000000,2018.000000,1.000000,1.000000
25%,1.511867e+07,1057.000000,8.000000e+04,24.972287,67.152597,0.000000,4.900000,1.334030e+03,2.000000,2019.000000,6.000000,5.000000
50%,1.676385e+07,3233.000000,7.300000e+06,31.463563,73.077743,3.000000,7.600000,2.069110e+03,3.000000,2019.000000,7.000000,14.000000
75%,1.715282e+07,7182.000000,1.800000e+07,33.550869,74.228218,4.000000,12.000000,3.267010e+03,4.000000,2019.000000,7.000000,20.000000
max,1.769386e+07,14246.000000,2.000000e+09,73.184088,80.161430,403.000000,124444.000000,3.388000e+07,68.000000,2019.000000,12.000000,30.000000

In [11]:
year = zameen_data["year"]# to get a single column out of data
print(year)

0         2019
1         2018
2         2019
3         2019
4         2019
          ...
191388    2019
191389    2019
191390    2019
191391    2019
191392    2019
Name: year, Length: 191393, dtype: int64

In [12]:
coordinates = zameen_data[["latitude", "longitude"]] # to get multiple columns out of data
print(coordinates)

         latitude  longitude
0       31.483869  74.325686
1       31.431593  74.179980
2       31.499348  74.416959
3       31.522069  74.355512
4       31.506483  74.286017
...           ...        ...
191388  33.668497  73.074160
191389  33.668497  73.074160
191390  33.676104  73.013842
191391  33.527944  73.161392
191392  33.649779  73.029385

[191393 rows x 2 columns]