In [36]:
import pandas as pd
import csv

In [37]:
data_file = pd.read_csv('./Dataset/Property.csv', delimiter = ";")

In [38]:
data_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191393 entries, 0 to 191392
Data columns (total 17 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   property_id    191393 non-null  int64
 1   location_id    191393 non-null  int64
 2   page_url       191393 non-null  object
 3   property_type  191393 non-null  object
 4   price          191393 non-null  int64
 5   location       191393 non-null  object
 6   city           191393 non-null  object
 7   province_name  191393 non-null  object
 8   latitude       191393 non-null  float64
 9   longitude      191393 non-null  float64
 10  baths          191393 non-null  int64
 11  area           191393 non-null  object
 12  purpose        191393 non-null  object
 13  bedrooms       191393 non-null  int64
 14  date_added     191393 non-null  object
 15  agency         144014 non-null  object
 16  agent          144013 non-null  object
dtypes: float64(2), int64(5), object(10)
memory usage: 24.8+ MB

In [39]:
data_file.head()

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Model Town,Lahore,Punjab,31.483869,74.325686,0,6 Kanal,For Sale,0,07-17-2019,Real Biz International,Usama Khan
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Multan Road,Lahore,Punjab,31.431593,74.179980,5,1 Kanal,For Sale,5,10-06-2018,Khan Estate,mohsinkhan and B
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Eden,Lahore,Punjab,31.499348,74.416959,0,9 Marla,For Sale,3,07-03-2019,Shahum Estate 2,"Babar Hameed, Raja Omar"
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Gulberg,Lahore,Punjab,31.522069,74.355512,7,1 Kanal,For Sale,8,04-04-2019,NaN,NaN
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,Allama Iqbal Town,Lahore,Punjab,31.506483,74.286017,5,11 Marla,For Sale,6,04-04-2019,NaN,NaN

In [51]:
with open("./Dataset/New_Property.csv", "w") as dat_file2, open("./Dataset/Property.csv", "r") as dat_file1:
    csv.writer(dat_file2).writerows(csv.reader(dat_file1, delimiter=";"))

In [ ]:
with open("./Dataset/New_Property.csv") as data_file3:
    csv.